//
//  Dev.xcconfig
//  SwiftDeploy
//
//  Created by Piyush Sinroja on 26/04/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
#include "Base.xcconfig"

APP_BUNDLE_ID = com.piyushsinroja.swiftdeploy.dev
APP_NAME = SwiftDeploy Dev
API_BASE_URL = https:$()/$()/dev-api.yourserver.com
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Dev
